# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.venv/
venv/

#Books
books/

# LaTeX build artifacts
build/
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# API keys
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
